#content {
    margin-top: 1em;
    grid-area: 1 / 2 / 2 / 3;
    width: calc(100% - 10rem);
    line-height: 1.5;
}

.picture {
    border-radius: 20px;
    width: 100%;
}

.vidno {
    padding: 0em 0.3em;
    background-color: #E0F4F5;
    border-radius: 20px;
}

.code {
    font-size: 20px;
    background-color: #033540;
    color: #E0F4F5;
    padding:0.5em 0.5em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

b {
    color: aquamarine;
}

.img-copy-link {
    height: 30px;
}

.copy-butt {
    background-color: #033540;
    border: 0px;
    cursor: pointer;
}

#next-last{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.arrows {
    width: 2.5em;
    height: 2.5em;
}

#last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#next-last span{
    margin: 0 1em;
}





@media screen and (max-width: 1300px) {

    #content {
        width: calc(100% - 5rem);
    }

}

@media screen and (max-width: 1300px) {

    #content {
        width: calc(100% - 5rem);
    }
    
}

@media screen and (max-width: 700px) {

    #content {
        width: calc(100% - 5rem);
        padding-left: 2.5em;
        justify-content: center;
    }
    
}